{% extends "default.html" %}
{% block title %}Update Password{%  endblock %}
{% block header %}Update Password{% endblock %}
{% block content %}
<p>
    <form method="POST" action="/update_password">
    <select name="account_name">
        {%  for account in all_accounts %}
        <option value="{{ account.get_key() }}">{{ account.get_name() }}: {{ account.get_username() }}</option>
        {% endfor %}
    </select>
     <label>Password:</label><input type="text" name="password">
     <button type="submit">Update</button>
    </form>
</p>
{%  endblock %}